<!DOCTYPE html>
<html lang="fr">

<%- include('./partials/head.ejs') %>

<body>
<%- include('./partials/header.ejs') %>

<main class="container">
    <a id ="avancement" hidden> 0 </a>
    <%- include('./partials/icones.ejs') %>

    <%- include('./partials/tuto.ejs') %>

    <%- include('./partials/journal_quetes.ejs') %>
    <%- include('./partials/snake.ejs') %>
    <%- include('./partials/edge.ejs') %>

</main>
<%- include('./partials/footer.ejs') %>

</body>
</html>
